version: "3.9"
services:
  database:
    # platform: linux/amd64
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: databasem
      MYSQL_DATABASE: mpassword
  app:
    platform: "linux/amd64"
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_CLIENTVAR: "clientvar"
    working_dir: /app
    ports:
      - "3000:3000"
    image: t3-app
    environment:
      - DATABASE_URL='mysql://root:databasem@database:3306/mpassword'
      - TWITCH_CLIENT_ID='58jxo2kz56sileqihj509h4bd0ll9z'
      - TWITCH_CLIENT_SECRET='2xry5j0z6ijmiblcgn6294gt340lq6'
  nginx:
    platform: "linux/amd64"
    build:
      context: nginx/
      dockerfile: Dockerfile
    ports:
      - "443:443"
